
<section id="quiz">
  <%= render partial: 'spree/shared/progress_bar' %>

  <div class="content">

    <ul class="bars-stacked">
      <li><button class="opt">under 18</button></li>
      <li><button class="opt">19-29</button></li>
      <li><button class="opt">30-39</button></li>
      <li><button class="opt">40-49</button></li>
      <li><button class="opt">50-59</button></li>
      <li><button class="opt">60+</button></li>
    </ul>

  </div>

  <%= render partial: 'spree/shared/navigation' %>
</section>


