<header id="progress">
  <span class="step">About You</span>
  <i class="ico-arr-right"></i>
  <span class="step">Your Lifestyle</span>
  <i class="ico-arr-right"></i>
  <span class="step">Your Skin</span>
  <i class="ico-arr-right"></i>
  <span class="step">Top Concerns</span>
</header>
